.matriz{
    margin-top: 10px;
    /* width:  960px; */
    height: 100%;

}
.column-item{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

br{
  margin: 0;
  padding: 0;
  border: 0;  
}

.father{
    text-align: center;
}
.son{
    display: inline-block;
}

.grid-item{
    width: 10px;
    height: 10px;
    background-color: black;
    float: left;
    margin: 1px;
}

